@page
@model RazorPagesGeneral.Pages.SomeInformation.HopeMainModel
@{
}


  <main class="main-content">
    <div class="row">
        <canvas id="canvas" class="col-12"></canvas>
    </div>
    @*<div class="row">
        <div class="col-1 innerX">X-pos</div>
        <div class="col-1 innerY">Y-pos</div>
    </div>*@


      









    <div class="container-fluid">
      <section class="row align-items-stretch photos" id="section-photos">
        <div class="col-12">
        <div class="row align-items-stretch">


            <section class=" darken-bg" style="padding-left:2.7em; padding-right:2.7em; padding-top:0.5em" id="section-contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 ">

              <form method="post" enctype="multipart/form-data">
                    
                    <div class="row form-group">
                      <div class="col-md-12">
                        @*<label class="text-white" >event name</label> *@
                        <input  id="eventName" class="form-control" placeholder="funny case" asp-for="Event.EventName">
                        <span asp-validation-for="Event.EventName" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="row form-group mb-5">
                      <div class="col-md-12">
                        @*<label class="text-white" >discription</label> *@
                        <textarea  id="discription"  class="form-control" placeholder="it was a sunny day..." asp-for="Event.Description"></textarea>
                        <span asp-validation-for="Event.Description" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        @*<label class="text-white" >X-position</label>*@
                        <input  id="PosX" class="form-control" style="-webkit-appearance:none; -moz-appearance: textfield;" placeholder="X-position" asp-for="Event.PosX">
                        <span asp-validation-for="Event.PosX" class="text-danger"></span>
                      </div>
                      <div class="col-md-6">
                        @*<label class="text-white">Y-position</label>*@
                        <input  id="PosY" class="form-control" style="-webkit-appearance:none; -moz-appearance: textfield;" placeholder="Y-position" asp-for="Event.PosY">
                       <span asp-validation-for="Event.PosY" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="row">
                        <div class="row form-group">
                          <div class="col-md-12">
                            <input type="submit" value="add" class="btn btn-primary btn-md text-white">
                          </div>
                        </div>

                        <div class="col-md-6">
                            <input  id="PosY" class="form-control custom-file-input" asp-for="Photo">
                        </div>    
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </section>





        @for (var i = 0;i< @Model.events.Count(); i++){
            string path1 = $"/images/{Model.events[i].PhotoPath ?? "noImageCase.jpg"}";
            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                <a href=@path1 class="d-block photo-item" data-fancybox="gallery">
                <img src=@path1 alt="Image" class="img-fluid">
                <div class="photo-text-more">
                    <div class="card m-3">
                    <div class="card-header text-center">
                        <h3>@Model.events[i].EventName</h3>
                    </div>
                    <div class="card-body">
                        <p style="margin-top:10px">Description: @Model.events[i].Description</p>
                        <div class=" row">
                            <div class="col-5">
                                <div>X-Position: </div>
                                <div>Y-Position: </div>
                            </div>
                            <div class=" col-auto">
                                <div id="@(i)X">@Model.events[i].PosX</div>
                                <div id="@(i)Y">@Model.events[i].PosY</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </a>
            </div>
        }
      </div>
    </div>

      </section> <!-- #section-photos -->

      <section class="site-section" id="section-testimonial">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="heading text-uppercase text-white">Testimonial</h2>

              <div class="row justify-content-center">
                <div class="col-md-12">

                  <div class="owl-carousel slide-one-item home-slider">

                    <div class="testimony text-center px-md-4">
                      <figure class="mx-auto d-inline-block">
                        <img src="~/images/person_2.jpg" alt="Image" class="mx-auto img-fluid w-25 rounded-circle">
                      </figure>
                      <p class="text-white"><strong>Jean Smith</strong></p>
                      <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde tenetur quis facilis quam optio voluptate totam placeat, doloremque. Sit repellat ipsum dolor fugit similique itaque maxime saepe ipsam. Velit, harum!&rdquo;</p>
                      </blockquote>
                    </div>

                    <div class="testimony text-center px-md-4">
                      <figure class="mx-auto d-inline-block">
                        <img src="~/images/person_3.jpg" alt="Image" class="mx-auto img-fluid w-25 rounded-circle">
                      </figure>
                      <p class="text-white"><strong>Jean Smith</strong></p>
                      <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde tenetur quis facilis quam optio voluptate totam placeat, doloremque. Sit repellat ipsum dolor fugit similique itaque maxime saepe ipsam. Velit, harum!&rdquo;</p>
                      </blockquote>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="site-section darken-bg" id="section-bio">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h2 class="heading text-uppercase text-white">Biography</h2>
              <figure class="mb-5" data-aos="fade-up"><img src="~/images/person_3.jpg" alt="Image" class="img-fluid w-50 rounded"></figure>
              <div data-aos="fade-up"  data-aos-delay="100">
              <h2 class="text-white">Hi I'm Jed</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor aperiam a velit. Harum eligendi quod reiciendis quos ullam libero est dolor, <a href="#">corporis dolores assumenda</a>, delectus, quidem voluptatibus dolorum temporibus enim!</p>
              <p>Neque facilis soluta, accusantium quaerat, adipisci porro animi, hic fugiat id vero placeat dolorem accusamus sapiente odio consequatur debitis beatae eius quos alias. In recusandae magnam quis ipsum, asperiores mollitia!</p>
              <h3 class="text-white mt-5">Photographer for 10 years</h3>
              <p>Tempore repudiandae <a href="#">rerum numquam iste</a>, quibusdam omnis voluptates quaerat veniam neque odit sit vel dolores. Optio eveniet ex laborum similique inventore sapiente tenetur. Ipsam aliquam esse voluptate qui reiciendis. Harum.</p>
              <div class="d-block d-md-flex mt-5">
                <div class="mr-md-auto mr-2">
                  <ul class="ul-check list-unstyled success">
                    <li>Optio eveniet ex laborum</li>
                    <li>Inventore sapiente tenetur</li>
                    <li>Ipsam aliquam esse</li>
                  </ul>
                </div>
                <div class="mr-md-auto">
                  <ul class="ul-check list-unstyled success">
                    <li>Optio eveniet ex laborum</li>
                    <li>Inventore sapiente tenetur</li>
                    <li>Ipsam aliquam esse</li>
                  </ul>
                </div>

              </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="site-section" id="section-blog">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="row">
                <h2 class="heading text-uppercase text-white"  data-aos="fade-up">Blog</h2>
                <div class="col-md-12 mb-4" data-aos="fade-up">
                  <div class="d-md-flex d-block blog-entry align-items-start">
                    <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="single.html"><img src="~/images/blog_1.jpg" alt="Image" class="img-fluid"></a></div>
                    <div>
                      <h2 class="mt-0 mb-2"><a href="single.html">My New Photography Has Been Featured in Forbes</a></h2>
                      <div class="meta mb-3">Posted by Ben Jones on <a href="#">Jan 18, 2019</a></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aliquid doloremque qui, saepe alias eum?</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-4" data-aos="fade-up">
                  <div class="d-md-flex d-block blog-entry align-items-start">
                    <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="single.html"><img src="~/images/blog_2.jpg" alt="Image" class="img-fluid"></a></div>
                    <div>
                      <h2 class="mt-0 mb-2"><a href="single.html">My New Photography Has Been Featured in Forbes</a></h2>
                      <div class="meta mb-3">Posted by Ben Jones on <a href="#">Jan 18, 2019</a></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aliquid doloremque qui, saepe alias eum?</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-4" data-aos="fade-up">
                  <div class="d-md-flex d-block blog-entry align-items-start">
                    <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="single.html"><img src="~/images/blog_3.jpg" alt="Image" class="img-fluid"></a></div>
                    <div>
                      <h2 class="mt-0 mb-2"><a href="single.html">My New Photography Has Been Featured in Forbes</a></h2>
                      <div class="meta mb-3">Posted by Ben Jones on <a href="#">Jan 18, 2019</a></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aliquid doloremque qui, saepe alias eum?</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-4" data-aos="fade-up">
                  <div class="d-md-flex d-block blog-entry align-items-start">
                    <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="single.html"><img src="~/images/blog_4.jpg" alt="Image" class="img-fluid"></a></div>
                    <div>
                      <h2 class="mt-0 mb-2"><a href="single.html">My New Photography Has Been Featured in Forbes</a></h2>
                      <div class="meta mb-3">Posted by Ben Jones on <a href="#">Jan 18, 2019</a></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aliquid doloremque qui, saepe alias eum?</p>
                    </div>
                  </div>
                </div>  

                <div class="col-12 text-center">
                  <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <span>...</span>
                    <a href="#">7</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
      </div>
    </div>
  </main>



  <script src="~/js/jquery-3.3.1.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery-ui.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/jquery.countdown.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/bootstrap-datepicker.min.js"></script>
  <script src="~/js/aos.js"></script>
  

  <script src="~/js/jquery.fancybox.min.js"></script>
  <script src="~/js/map-script.js" data-container=@Model.events.Count() id="Main_script"></script>

  <script src="~/js/main.js"></script>
